@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: #eb224d;
  --color-gray: #535353;
  --header-height: 100px;
  --mobile-header-height: 72px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  @apply text-xl;
}

.menu {
  @apply bg-[rgba(0,0,0,0.6)] backdrop-blur-[50px] p-2 border border-gray rounded-full;
}

.menu > ul {
  @apply flex justify-between items-center gap-3;
}

.menu > ul > li > a {
  @apply border border-transparent rounded-full max-xl:px-3 px-5 py-1 flex items-center max-xl:text-sm;
}

.menu > ul > li a.active,
.menu > ul > li a:hover {
  @apply border border-[rgb(114,28,52)] bg-[rgba(33,33,33,1)] rounded-full max-xl:px-3 px-5 py-1;
}

.a2p-button {
  @apply flex items-center justify-between gap-4 w-max text-center bg-primary rounded-full px-8 py-2;
}

.logos-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.logo-item {
  @apply bg-[#E4E4E4] w-[178px] h-full flex items-center justify-center border rounded-3xl border-gray p-2;
}

.logo-item img {
  @apply w-full h-full object-contain max-w-[100px];
}

.section-title {
  @apply text-[42px] max-lg:text-4xl mb-14;
}

header {
  @apply max-lg:h-[var(--mobile-header-height)] lg:h-[var(--header-height)] flex items-center fixed top-0 w-full z-20;
}

.glance-box {
  @apply border border-gray rounded-2xl bg-[#0E0E0E80] p-7 backdrop-blur-[40px] text-center flex flex-col gap-7 items-center;
}

.gray-border-box {
  @apply border border-gray rounded-2xl bg-[#0E0E0E80] max-lg:p-4 lg:p-10 backdrop-blur-[40px] overflow-hidden;
}

.red-box {
  @apply bg-[linear-gradient(90.31deg,_#520011_24.83%,_#EB224D_125.02%)] p-2 rounded-2xl w-[53px] h-[53px] flex items-center justify-center shrink-0;
}

.red-box-border {
  @apply bg-[linear-gradient(90.31deg,_#520011_24.83%,_#EB224D_125.02%)] p-2 rounded-2xl border-[2px] border-primary w-[60px] h-[60px] shrink-0 flex items-center justify-center;
}

.gray-box {
  @apply bg-[rgba(228,228,228,1)] rounded-xl mt-5 mb-16;
}
.work-box {
  @apply border border-gray rounded-2xl bg-[#0E0E0E80] p-7 backdrop-blur-[40px] text-center flex flex-col gap-7 justify-between;
}

.red-background {
  @apply pb-10;
  background: radial-gradient(
    115.23% 115.23% at 50.18% 84.77%,
    rgba(235, 34, 77, 0.5) 0%,
    rgba(51, 51, 51, 0.5) 29.81%,
    rgba(0, 0, 0, 0.5) 50%
  );
}

::placeholder {
  color: #8a8a8a;
  opacity: 1; /* Ensures full opacity on all browsers */
}

/* Optional for better cross-browser support */
::-webkit-input-placeholder {
  color: #8a8a8a;
}
:-ms-input-placeholder {
  color: #8a8a8a;
}

select {
  color: #8a8a8a;
}

.grecaptcha-badge {
  visibility: hidden;
}
