@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: #eb224d;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.menu {
  @apply bg-[rgba(0,0,0,0.6)] backdrop-blur-[50px] p-2 border border-[#535353] rounded-full;
}

.menu > ul {
  @apply flex justify-between items-center gap-3;
}

.menu > ul > li > a {
  @apply border border-transparent rounded-full max-xl:px-3 px-5 py-1 flex items-center max-xl:text-sm;
}

.menu > ul > li a.active,
.menu > ul > li a:hover {
  @apply border border-[rgb(114,28,52)] bg-[rgba(33,33,33,1)] rounded-full max-xl:px-3 px-5 py-1;
}
